 <!-- Header -->
 <header>
  <div class="logo">
    <img src="logobrand.jpg" alt="Movie Logo">
  </div>
  <nav>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/movies">Movies</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="/login" class="login-button">Login</a></li>
    </ul>
  </nav>
</header>
<div class="login-container">
    <h2>Login</h2>
    <form [formGroup]="LoginForm" (ngSubmit)="onLoginSubmited()">
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="Email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="Password">
      </div>
      <button type="submit" [disabled]="LoginForm.invalid">Login</button>
      
      <div class="links">
        <a  [routerLink]="['/forget-password']">Forgot Password?</a>
        <p>Don't have an account? <a [routerLink]="['/register']">Register</a></p>
        <button class="btn-s"  (click)="bookSeat()">Book a Seat</button>
      </div>
      
    </form>
    
    
  </div>
