<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="LoginForm" (ngSubmit)="onLoginSubmited()">
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="Email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="Password">
    </div>
    <button type="submit" [disabled]="LoginForm.invalid">Login</button>
    <div class="links">
      <a href="/forgot-password">Forgot Password?</a><!--newly added-->
      <a href="#" (click)="navigateToRegister()">Don't have an account? Register</a><!--newly added-->
    </div>
  </form>
  
  
</div>
